@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-500 {
    width: 500px;
  }

  .plpr-10per {
    padding-left: 10%;
    padding-right: 10%;
  }

  .max-h-500 {
    max-height: 500px;
  }
  .xy-45per {
    top: 45%;
    left: 45%;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
